@use '../../app/mixins.scss';

.sidebarItem {
  margin-top: 20px;
  margin-left: 35px;
  cursor: pointer;
}
.sidebarItemSaved {
  @extend .sidebarItem;
  display: flex;
  gap: 7px;
  margin-top: 20px;
}
.sidebarItemNews {
  @extend .sidebarItem;
  display: flex;
  gap: 2px;
  padding-left: 7px;
}

%input {
  @extend %transparentContainer;
  width: 267px;
  height: 38px;
  justify-content: flex-start;
  align-items: center;
  background-position: left;
}

.inputForm {
  @extend %input;
  background-image: url('/Base_Sidebar_Search.png');
  margin-top: 105px;
  margin-left: 14px;
  @media screen and (max-width: 1427px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 960px) {
    margin-top: 66px;
  }
}

.customInput {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 27px 0px 0px 16px;
  cursor: text;
}

.customInput::placeholder {
  color: #aaa;
}

.customInput:hover,
.customInput:focus {
  border: none;
  outline: none;
}
.searchButtonItem {
  margin-bottom: 0;
}
