@use '../../../../app/_mixins.scss';

.pageContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .button {
    @extend %primaryButton;
  }
  .warnP {
    font-size: 10px;
    text-align: center;
    width: 80%;
  }
}
