@use '../../../app/_mixins.scss';

.formWrapper {
  @extend %entryCover;
  background-image: url('/images/background_mobile_logo.webp');

  padding-top: 12vh;
  .form {
    @extend %transparentContainer;
    background-image: url('/images/base_login.webp');
    background-size: 90% 90%;
    width: 387px;
    justify-content: space-evenly;
    align-items: center;
    height: 146px;
    background-position: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;

    .selectPhoto {
      @extend %transparentContainer;
      background-image: url('/images/SelectPhoto.webp');
      background-size: contain;
      justify-content: center;
      align-items: center;
      height: 77px;
      width: 79px;
      background-position: center;
      font-size: 12px;
      overflow-wrap: break-word;
      white-space: normal;
      color: #fff;
      text-align: center;
      cursor: pointer;
      line-height: normal;
      position: relative;
    }
  }
}

.selectPhotoFormItem {
  position: relative;
}

.titleBorder {
  @extend %transparentContainer;
  background-image: url('/images/title_login_empty.webp');
  width: 280px;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-size: 100% 55px;
}

%input {
  @extend %transparentContainer;
  width: 205px;
  height: 38px;
  justify-content: flex-start;
  align-items: center;
  background-position: left;
  margin-bottom: 15px;
}
.inputForm {
  @extend %input;
  margin-bottom: 0px;
  background-image: url('/images/base_registration_input.webp');
}
.inputFormError {
  @extend %input;
  margin-bottom: 0px;
  background-image: url('/images/base_registration_input_error.webp');
}

.customInput {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 8px 4px 8px 16px;
  cursor: text;
}
.customInput::placeholder {
  color: #aaa;
}
.customInput:hover,
.customInput:focus {
  border: none;
  outline: none;
}

.nickBox {
  gap: 2px;
}

.infoPanel {
  background-image: url('/images/messages_reg_form.webp');
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  background-size: 90% 90%;
  width: 387px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  font-weight: 400;
}

.textCard {
  max-width: 335px;
  margin-top: 10px;
  width: 100%;
  font-size: 11px;
}

.text {
  line-height: 0.5;
  text-decoration: line-through;
}
.warning {
  color: var(--orange);
  padding-top: 3px;
}

.submitButton {
  background-color: var(--orange);
  color: var(--background);
  margin-right: 20;
  width: 138.12px;
  height: 27.74px;
  border-radius: 7.68px;
  border-color: var(--orange);
}

.warnText {
  color: var(--orange);
  line-height: 0.5;
}

.icon {
  margin-right: 5px;
  font-size: 15px;
}

.avatarTemplate {
  @extend %avatarTemplate;
  position: relative;
}

.selectedAvatar {
  position: absolute;
  left: 25%;
  bottom: 25%;
}
