@use '../../app/_mixins.scss';

$overlay-color: rgba(0, 0, 0, 0.3);

.newsContainer {
  // background-image: url('/images/Background_News_PC.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  scrollbar-gutter: stable;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  &.sidebarOpen {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wrap {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: visible;
    width: 390px;
  }

  .mdContent {
    line-height: 1.6;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px 35px 0px 35px;
    background: #fff;
    img,
    video {
      width: 100%;
      margin: 10px 0;
    }
    /* Стили для конкретных элементов Markdown */
    h1 {
      color: #333;
      margin-bottom: 20px;
    }
    p {
      margin: 10px 0;
      color: #555;
    }
    img,
    video {
      border-radius: 8px;
      margin: 10px;
      display: block;
      max-width: 100%;
      height: auto;
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
      pointer-events: auto;
      z-index: 2;
    }
    img[data-loading='true'] {
      opacity: 0.5;
    }
    a {
      color: #007bff;
      text-decoration: underline;
      pointer-events: auto;
    }
  }
}

.burgerArticlesContainer {
  z-index: 1001;
  position: absolute;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: var(--graphics7);
  &.sidebarOpenBurgerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1001;
    background: #fff;
  }
}

.secretLink {
  color: inherit !important;
  text-decoration: none !important;
  cursor: default !important;

  &:hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}
.downloadLink {
  color: #1677ff;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: '\1F4E5'; /* Иконка скачивания (📥) */
    font-size: 0.9em;
  }

  &:hover {
    color: #0958d9;
    text-decoration: underline;
  }
}

::global(.mdContent a:not(.secretLink)) {
  color: #1677ff;
  text-decoration: underline;

  &:hover {
    color: #0958d9;
    text-decoration: underline;
  }
}
