@use '../../../app/_mixins.scss';
$overlay-color: rgba(0, 0, 0, 0.3);

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  .commentContainer {
    display: flex;
    gap: 10px;
    .commentTextBox {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-right: 10px;
      width: 100%;
      .commentAuthor {
        font-size: 12px;
        font-weight: 600;
        color: var(--foreground);
      }
      .commentText {
        font-size: 11px;
        font-weight: 400;
        color: var(--secondaryBlack);
      }
      .commentTextReply {
        @extend .commentText;
        cursor: pointer;
      }
      .likeHeart {
        cursor: pointer;
      }
      .nextCommentText {
        font-size: 10px;
        font-weight: 400;
        color: var(--orange);
        cursor: pointer;
      }
      .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        padding-right: 10px;
        .reply {
          @extend .commentText;
          cursor: pointer;
        }
      }
    }
  }
  .inputDivider {
    margin: 0px;
  }
  .inputLastDivider {
    @extend .inputDivider;
    padding-bottom: 30px;
  }
  .inputDividerBottom {
    @extend .inputDivider;
    padding-bottom: 15px;
  }
  .commentInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    .sendButton {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.avatarTemplate {
  @extend %avatarTemplate;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentsLisBackground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1006;
  background-color: $overlay-color;
}
.likesInfo {
  display: flex;
  gap: 3px;
  align-items: center;
  .count {
    font-size: 10px;
    color: var(--graphics10);
    font-weight: 400;
  }
}
.iconsItem {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.deleteCommentIcon {
  cursor: pointer;
  color: var(--orange);
}
