@use '../../../app/_mixins.scss';

.infoContainer {
  display: flex;
  align-items: center;
  width: 96%;
  margin-left: 10px;
  justify-content: space-between;
  .contentContainer {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .avatarTemplate {
    @extend %avatarTemplate;
  }
  .avatar {
    margin-top: 15px;
    margin-left: 11px;
  }
}
.newsText {
  padding: 0 15px 0 15px;
  font-size: 12px;
  font-weight: 400;
}
.infoContainerFirst {
  @extend .infoContainer;
  margin-top: 12px;
}
.iconsContainer {
  display: flex;
  gap: 20px;
}
.editPost {
  cursor: pointer;
  color: var(--orange);
}
