.autoHeightTextarea {
  min-height: 20px;
  width: 80%;
  padding: 0;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  font-size: 12px;
  transition: height 0.4s ease;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: var(--background);
  align-content: center;

  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: var(--secondaryGray);
  }
}
.nickName {
  color: var(--orange);
  font-weight: 600;
  font-size: 12px;
}
