.markdownEditorContainer {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.markdownEditor {
  height: 53vh !important;
  margin-bottom: 10px;
}
.button {
  padding: 10px 20px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.noLinkStyle {
  text-decoration: none;
  color: inherit;
}

.noLinkStyle:hover {
  text-decoration: none;
  color: inherit;
}

.titlesContainer {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.inputTitleInstruction {
  font-size: 10px;
}

.secretLink {
  color: inherit !important;
  text-decoration: none !important;
  cursor: default !important;

  &:hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}

::global(.wmde-markdown a:not(.secretLink)) {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}
.uploadContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}
.upload {
  width: 500px;
}
