@use '../../app/mixins.scss';

$overlay-color: rgba(0, 0, 0, 0.3);
.spinWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 49%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: $overlay-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  @media screen and (min-width: 961px) and (max-width: 1427px) {
    height: 450px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-width: 960px) {
    top: 36px;
    left: 50%;
  }
}
.sidebarContainer {
  z-index: 10;
  position: absolute;
  display: none;
  left: 0;
  @media screen and (max-width: 960px) {
    display: block;
    top: 0;
    left: 0%;
    width: 75%;
    max-width: 350px;
    height: 100%;
    background-color: var(--secondaryGray);
  }
}
.sidebarContainerDesktop {
  z-index: 10;
  position: absolute;
  top: 7%;
  height: 93vh;
  left: 0;
  width: 364px;
  background-color: var(--secondaryGray);
  @media screen and (max-width: 1428px) {
    display: none;
  }
}

.sidebarContainerTablet {
  z-index: 10;
  position: fixed;
  top: 125px;
  left: 75px;
  background-color: var(--secondaryGray);
  padding-bottom: 30px;
}
.sidebarItemsContainer {
  margin-top: 35px;
  max-height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;

  @media screen and (max-width: 960px) {
    margin-top: 30px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}

.articleItemContainerHide {
  @extend .sidebarItemsContainer;
  display: 'none';
}
.sidebarItemNewsContainer {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.articleTitle {
  padding-top: 0;
  transition: color 0.3s ease;
  &:hover {
    color: var(--graphics11);
  }
  &:active {
    color: var(--graphics11);
  }
}

.articleTitleSelected {
  @extend .articleTitle;
  color: var(--foreground);
  font-weight: bold;
}

.articleTitle:nth-child(n + 2) {
  padding-top: 15px;
  &:hover {
    color: var(--graphics11);
  }
  &:active {
    color: var(--graphics11);
  }
}

.articleItemContainer {
  display: flex;
  flex-direction: column;
}
.articleItem {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.menuItem {
  display: flex;
  justify-content: space-between;
}

.menuTitle {
  margin-right: 20px;
}

.qrCode {
  width: 172px !important;
  height: 172px !important;
  background-color: var(--background) !important;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.menuIcons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.qrIcon {
  padding-bottom: 2px;
  &:hover {
    color: var(--orange);
  }
}
