@use '@/app/mixins.scss';

.achContainer {
  width: 390px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  top: 325px;
  padding-bottom: 10px;
  position: relative;
  @media screen and (max-width: 960px) {
    position: absolute;
  }
}

.column {
  padding: 0px;
  margin: 0 0 0 0px;
  flex: 1 1 calc(33.33% - 20px);
  max-width: 110px;
}

.extraColumn {
  @extend .column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  @extend %transparentContainer;
  background-image: url('/images/Button_ScanQR.webp');
  width: 95px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 5px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .itemImg {
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .achTextInactive {
    font-size: 11px;
    font-weight: 400;
    color: var(--graphics11);
  }
  .achTextActive {
    font-size: 11px;
    font-weight: 400;
    color: var(--graphics9);
    text-align: center;
  }
}
@media screen and (max-width: 424px) {
  .item {
    font-size: auto !important;
  }
}
