.footerContainer {
  text-align: center;

  .ant-tabs {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .ant-tabs[role='tablist'] {
    opacity: 1;
  }
}

.placeholder {
  height: 48px;
  width: 100%;
}

.menu {
  text-align: center;
  :global {
    .ant-tabs-tab {
      position: relative;
      padding: 6px 16px !important;
      transition: all 0.2s ease-in-out;
      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          right: -8px;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 20px;
          background-color: var(--graphics11);
        }
      }
      @media screen and (max-width: 960px) {
        padding: 12px 0 !important;
        padding-top: 20px;
      }
    }
    .ant-tabs-tab:active {
      transform: scale(1.07);

      @media screen and (max-width: 960px) {
        transform: scale(1.3);
        background-color: var(--secondaryWhite);
      }
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 16px;
    }
  }
}
