@use '../../../app/_mixins.scss';

.customSelect {
  background-image: url('/Base_PhotoSelection_PC.png');
  background-color: rgba(255, 255, 255, 0);
  // left: -15px;
  // top: 200%;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-position: center;
  // margin-top: 5px;
  position: absolute;
  width: 109px;
  height: calc(109px * (442 / 139));
  background-size: contain;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 960px) {
    left: -15px;
    top: 200%;
    overflow-y: auto;
    margin-top: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px !important;
    padding-left: 100px !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }

  .customSelectDropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    background: none !important;
    border: none !important;
    padding-inline: 0 !important;
    padding: 3px;
  }
}

.customSelectUserPage {
  @extend .customSelect;
  left: 5px;
  top: 110px;
  @media screen and (max-width: 960px) {
    left: -6px;
    top: 275%;
  }
}

.avatarTemplate {
  @extend %avatarTemplate;
}
