:root {
  --background: #fafafa;
  --orange: #fb4724;
  --foreground: #242424;
  --secondaryWhite: #f7f7f7;
  --secondaryGray: #f2f2f2;
  --secondaryBlack: #1a1a1a;
  --graphics7: #e5e5e5;
  --graphics8: #d3d3d3;
  --graphics9: #2d2d2d;
  --graphics10: #494949;
  --graphics11: #b2b2b2;
  --vh: 100vh;
  --science: #50c787;
  --enginery: #edc731;
  --it: #5a88ff;
  --art: #c061f3;
  --management: #fd4948;
  --proj: #a7e265;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  // max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  // background-image: url('/background_mobile.png') !important;
  // background-repeat: no-repeat !important;
  // background-size: contain !important;
  // background-position: center !important;
  // font-family: 'Caleo', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--graphics9);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  // height: 100%;
}

@font-face {
  font-family: 'Caleo';
  src: url('/fonts/Calleo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.caleo-font {
  font-family: 'Caleo', sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ant-menu-item {
  height: 80px !important;
  line-height: 73px !important;
  padding: 0 12px !important;
}

.ant-menu-item {
  margin-bottom: 0px !important;
}
.ant-tooltip {
  display: none !important;
}

.ant-tabs-top {
  margin: 0px !important;
}

.ant-typography {
  margin-bottom: 0px !important;
}

// .ant-menu,
// .ant-space,
// .ant-typography,
// .ant-btn,
// .ant-input,
// .ant-modal,
// .ant-dropdown,
// .ant-select {
//   font-family: 'Caleo', sans-serif !important;
// }

[class^='ant-'],
[class*=' ant-'] {
  font-family: 'Caleo', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
