:root {
  --background: #fafafa;
  --orange: #fb4724;
  --foreground: #242424;
  --secondaryWhite: #f7f7f7;
  --secondaryGray: #f2f2f2;
  --secondaryBlack: #1a1a1a;
  --graphics7: #e5e5e5;
  --graphics8: #d3d3d3;
  --graphics9: #2d2d2d;
  --graphics10: #494949;
  --graphics11: #b2b2b2;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  // overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальную колонку */
  color: var(--graphics9);
  background: var(--background);
  // font-family: calleo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
}

@font-face {
  font-family: 'Caleo';
  src: url('../fonts//Calleo.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

main {
  flex: 1; /* Основное содержимое растягивается, заполняя свободное пространство */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
