:root {
  --background: #fafafa;
  --orange: #fb4724;
  --foreground: #242424;
  --secondaryWhite: #f7f7f7;
  --secondaryGray: #f2f2f2;
  --secondaryBlack: #1a1a1a;
  --graphics7: #e5e5e5;
  --graphics8: #d3d3d3;
  --graphics9: #2d2d2d;
  --graphics10: #494949;
  --graphics11: #b2b2b2;
  --vh: 100vh;
  --science: #50c787;
  --enginery: #edc731;
  --it: #5a88ff;
  --art: #c061f3;
  --management: #fd4948;
  --proj: #a7e265;
  --scale-factor: 1;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--graphics9);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Caleo';
  src: url('/fonts/Calleo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.caleo-font {
  font-family: 'Caleo', sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ant-menu-item {
  height: 80px !important;
  line-height: 73px !important;
  padding: 0 12px !important;
}

.ant-menu-item {
  margin-bottom: 0px !important;
}
.ant-tooltip {
  display: none !important;
}

.ant-tabs-top {
  margin: 0px !important;
}
.ant-tabs-nav {
  margin: 0px !important;
}

.ant-typography {
  margin-bottom: 0px !important;
}

.ant-divider {
  margin: 12px 0 12px 0 !important;
  border: none !important;
  /* Set height for horizontal divider */
  height: 1px;
  /* Apply gradient for fade effect */
  background: linear-gradient(
    to right,
    transparent 0%,
    #b2b2b2 15%,
    #b2b2b2 85%,
    transparent 100%
  ) !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-collapse .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow,
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  color: var(--orange) !important;
}

.antRadioWrapper {
  .antRadioChecked {
    .antRadioInner {
      border-color: var(--orange) !important;
      background-color: var(--orange) !important;
    }
  }
}

::global(.css-dev-only-do-not-override-mc1tut) {
  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: var(--orange) !important;
    background-color: var(--orange) !important;
  }
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 19px 58px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 38px;
}

.ant-collapse .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
  margin-inline-end: auto;
  color: var(--foreground);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  font-weight: bold;
}

.ant-collapse .ant-collapse-content {
  color: var(--graphics10);
  cursor: pointer;
}

.ant-btn-disabled,
.ant-btn[disabled] {
  background-color: var(--graphics11) !important; /* Замените на нужный цвет, например, #d3d3d3 */
  border-color: var(--graphics11) !important; /* Опционально: измените цвет границы */
  color: var(--background) !important; /* Опционально: измените цвет текста */
}

[class^='ant-'],
[class*=' ant-'] {
  font-family: 'Caleo', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
