.spinWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.defaultLayoutContainer {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  overscroll-behavior-y: contain;
  overflow-y: hidden;
}

.header {
  z-index: 11;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 7%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--background);
  @media screen and (max-width: 960px) {
    display: none;
  }
  .letovoCorp {
    margin-left: 30px;
    cursor: pointer;
  }
  .headerMenu {
    margin-right: 30px;
  }
}

.pageContent {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  z-index: 3;
  transition: transform 0.3s ease-in-out;
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: #f3f3f3;
  }
}

.footerHidden {
  transform: translateX(-50%) translateY(145%) !important;
}

.emptyPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
