@use '../../app/mixins.scss';

.spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  @extend %entryCover;
  background-image: url('/Background_Account_WithElements_PC_2.png');
  position: relative;
  width: 100vw;
  background-size: auto;
  background-position: top center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  @media screen and (max-width: 960px) {
    background-image: url('/background_account.png');
    overflow-y: scroll;
  }
  @media screen and (min-width: 961px) {
    justify-content: flex-start;
  }
}

.accountDiv {
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-image: none;
    position: absolute;
    z-index: 1;
    top: 6%;
    background-image: url('/Background_Account_Base.png');
    width: 390px;
    background-size: 390px;
    height: 233px;
  }
}

.desktopContent {
  z-index: 10;
  width: 980px;
  height: fit-content;
  margin-top: 160px;
  // border: solid 1px var(--graphics11);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.accountDivPC {
  width: inherit;
  position: fixed;
  .topContainer {
    display: flex;
    justify-content: space-between;
  }
  .moneyContainer {
    @extend .topContainer;
  }
  .achieveHeaderDesktop {
    width: 100%;
    z-index: 3;
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    .textAchieveHeaderDesktop {
      font-size: 16px;
      font-weight: 400;
      color: var(--foreground);
      padding: 0 5px;
    }
  }
}

.achieveBlockContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-top: 300px;
}

.logOutButtonDesktop {
  @extend %transparentContainer;
  background-size: contain;
  background-image: url('/button_LogOut.png');
  cursor: pointer;
  width: 60px;
  z-index: 5;
  height: 36px;
  border: none;
  transform: translate(3px, 7px);
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.logOutButton {
  @extend .logOutButtonDesktop;
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    transform: translate(0px, 0px);
    position: absolute;
    right: -10px;
    top: 2%;
    margin-top: 0px;
  }
}

.form {
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, -50%) translate(-126px);
  }
}

.formDesktop {
  margin-left: 73px;
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.upload {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, -91%) translate(-81px);
}

.avatarTemplate {
  @extend %avatarTemplate;
  height: calc(120px * (112 / 106));
  width: 130px;

  @media screen and (max-width: 960px) {
    height: calc(100px * (112 / 106));
    width: 100px;
  }
}

.userData {
  z-index: 2;
  display: flex;
  flex-direction: column;
  display: none;
  @media screen and (max-width: 960px) {
    margin-bottom: 111px;
    display: block;
  }
  .userName {
    font-size: 18px;
    font-weight: 600;
  }
  .userOnBoard {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--orange);
  }
  .userRest {
    @extend .userOnBoard;
    color: var(--graphics11);
  }
  .userPosition {
    font-size: 12px;
    font-weight: 600;
    color: var(--foreground);
    margin-top: 5px;
  }
}

.achieveHeader {
  width: 100%;
  z-index: 3;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 218px;
  .text {
    font-size: 12px;
    font-weight: 400;
    color: var(--foreground);
  }
}

.achContainer {
  width: 390px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  top: 325px;
  padding-bottom: 10px;
  position: relative;
  @media screen and (max-width: 960px) {
    position: absolute;
  }
}
.column {
  padding: 0px;
  margin: 0 0 0 0px;
  flex: 1 1 calc(33.33% - 20px);
  max-width: 110px;
}

.extraColumn {
  @extend .column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  @extend %transparentContainer;
  background-image: url('/Button_ScanQR.png');
  width: 95px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .itemImg {
    cursor: pointer;
    margin-bottom: 5px;
  }
  .achTextInactive {
    font-size: 11px;
    font-weight: 400;
    color: var(--graphics11);
  }
}
@media screen and (max-width: 424px) {
  .item {
    font-size: auto !important;
  }
}
