@use '../../app/mixins';
$overlay-color: rgba(0, 0, 0, 0.3);

.commentsStyle {
  z-index: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $overlay-color;
  width: 390px;
  position: relative;
}

.error {
  width: inherit;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
