@use '../../../app/_mixins.scss';

.imgContainer {
  @extend %avatarTemplate;
  background-image: url('/images/Achievement_Empty.webp');
  height: 106px;
  width: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
