@use '../../../app/_mixins.scss';

.loginFormWrapper {
  @extend %entryCover;
  padding-top: 14vh;
}

.card {
  @extend %transparentContainer;
  background-image: url('/base_login.png');
  width: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-position: center;
}

%input {
  @extend %transparentContainer;
  width: 291px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  background-position: left;
  margin-bottom: 15px;
}

.inputForm {
  @extend %input;
  background-image: url('/base_login_input.png');
}
.inputFormError {
  @extend %input;
  background-image: url('/base_login_input_error.png');
}

.titleBorder {
  @extend %transparentContainer;
  background-image: url('/title_login_empty.png');
  width: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  background-position: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
}
.forgetPass {
  text-decoration: underline;
  padding-top: 10px;
  width: 50%;
  cursor: pointer;
}

.inputTextHeader {
  margin: 0 0 5px 10px;
}

.formItem {
  margin-bottom: 15px;
}

.customInput {
  background: transparent;
  border: none;
  outline: none; /* Убирает обводку при фокусе */
  color: #000; /* Цвет текста */
  font-size: 14px; /* Размер шрифта */
  font-weight: 400;
  width: 100%; /* Занимает всю ширину родительского контейнера */
  padding: 8px 4px 8px 16px; /* Внутренние отступы для удобства */
  cursor: text; /* Курсор при наведении */
}

.customInput::placeholder {
  color: #aaa; /* Цвет плейсхолдера */
}

.customInput:hover,
.customInput:focus {
  border: none; /* Убирает рамки даже при наведении и фокусе */
  outline: none; /* Убирает обводку при фокусе */
}

.formItemPass {
  margin-bottom: 10px;
}

.textMessage {
  height: 10px;
}

.submitButton {
  background-color: var(--orange);
  color: var(--background);
  margin-right: 20;
  width: 138.12px;
  height: 27.74px;
  border-radius: 7.68px;
  border-color: var(--orange);
}

.submitButton:not([disabled]):hover {
  background-color: var(--orange);
  color: var(--background);
}
.modalText {
  font-weight: bold;
  margin-bottom: 20px;
}

.modalTextOrange {
  color: var(--orange);
  font-weight: bold;
}
